body{
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/bg-image.svg");
    background-repeat: no-repeat;
    background-color: #0d2a2e;
}
header{
    background-color: #0d2a2e;
}
#cabecalho{
    width: 80%;
    margin: 20px auto;
    color: #fefefe;
}

#logo{
    display: inline-block;
}

#menu{
    /* display: inline-block;
    margin-left: 45%; */
    float: right;
    margin: 15px 0px;
}

#menu button{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-size: 20px;
}

#FreeTrial{
    background-color: #4ca190;
    border: #0000;
    border-radius: 5px;
    color: #fefefe;
    margin-left: 50px !important;
}

.menuBtn{
    border: none;
    color:#fefefe;
    background-color: #0000;
}

.menuBtn:hover{
    background-color: #fefefe;
    color:#0d2a2e;
    border-radius: 5px;
}

#FreeTrial:hover{
    background-color: #4ca19099;
}

#main{
    color: #fefefe;
    width: 40%;
    margin: 80px auto;
    text-align: center;
}

#main h1{
    font-size: 68px;
    font-weight: normal;
}

#main h2{
    font-size: 24px;
    font-weight: lighter;
}

#main button{
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 10px;
    font-size: 24px;
}

#btnGetStarted{
    border: none;
    color: #f4d5cb;
    background-color: #e8864f;
}

#btnWatch{
    color: #f4d5cb;
    background-color: #0d2a2e;
}