body{
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/bg-image.svg");
    background-repeat: no-repeat;
    background-color: #0d2a2e;
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #0d2a2e;
}
#cabecalho{
    width: 80%;
    margin: 20px auto;
    color: #fefefe;
}

#logo{
    display: inline-block;
}

#menu{
    /* display: inline-block;
    margin-left: 45%; */
    float: right;
    margin: 15px 0px;
}

#menu button,a{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-size: 20px;
}

#FreeTrial{
    background-color: #4ca190;
    border: #0000;
    border-radius: 5px;
    color: #fefefe;
    margin-left: 50px !important;
}

.menuBtn{
    border: none;
    color:#fefefe;
    background-color: #0000;
}

.menuBtn:hover{
    background-color: #fefefe;
    color:#0d2a2e;
    border-radius: 5px;
    transition: 0.3s;
}

#FreeTrial:hover{
    background-color: #4ca19099;
    transition: 0.5s;
}

#main{
    color: #fefefe;
    width: 40%;
    margin: 80px auto;
    text-align: center;
}

#main h1{
    font-size: 68px;
    font-weight: normal;
}

#main h2{
    font-size: 24px;
    font-weight: lighter;
}

#main button{
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 10px;
    font-size: 24px;
}

#btnGetStarted{
    border: none;
    color: #f4d5cb;
    background-color: #e8864f;
}

#btnWatch{
    color: #f4d5cb;
    background-color: #0d2a2e;
}

#mural,#sobre,#contato{
    width: 80%;
    margin: 50px auto;
    background-color: #f2f3f9dd;
    color: #0d2a2e;
    padding: 20px;
    text-align: justify;
    font-weight: lighter;
    border-radius: 15px;
}
#contato{
    display: flex;
}

#sobre img{
    width: 150px;
    border-radius: 50%;
    float: right;
    margin: -80px auto;
    box-shadow: 10px 10px #0003;
}

#sobre p{
    width: 85%;
}
/* 
#form{
    display: inline-flex;
} */

#form input, label, textarea, #links{ 
    display: block;
    font-size: 22px;
}
#form label{
    margin-bottom: 5px;
}
#form input, textarea{
    border: none;
    text-decoration: none;
    padding: 0.2rem 1rem;
    width: 20em;
    margin-bottom: 15px;
    background-color: #d3d8dd;
    border-bottom: 1px solid #0d2a2e;
    color: #0d2a2e;
}
#form input,textarea:focus{
    outline: none;
}

#form textarea{
    resize: none;
}
#btnEnviar{
    border: none;
    color: #f4d5cb;
    background-color: #e8864f;
    font-size: 22px;
    padding: 10px 30px;
}
#btnEnviar:hover{
    border: none;
}
#form, #links{
    width: 49%;
}
#rodape{
    width: 100%;
    background-color: #020a0b;
    position: absolute;
}

#social{
    list-style: none;
    padding: none;
    margin: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
    float: left;
}
/* .social-item{
    display: inline-block;
} */

.social-item svg{
    width: 2em;
    color: #d3d8dd;
}

.social-item svg:hover{
    color: #e8864f;
}

.social-item path{
    fill: currentColor;
}

.social-item path:hover{
    fill: currentColor;
    transition: 0.2s;
}
.social-item span{
    display: none;
}
.social-item:last-child{
    margin-left: auto;
}

#btnCreditos{
    font-size: 22px;
    padding: 7px 10px;
    border: none;
    border-radius: 3px;
    background-color: #d3d8dd;
    cursor: pointer;
    color: #0d2a2e;
    height: 40px;
}
#btnCreditos:hover{
    background-color: #e8864f;
    color: #d3d8dd;
    transition: 0.1s;
}
#btnCreditos:active{
    transform: scaleY(0.9);
}